<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760785629906-05lg1jtnm6novhi2je6vf6ecregg464q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760785629906-05lg1jtnm6novhi2je6vf6ecregg464q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>760785629906-b402m10s4ec4ngrp75kglc8ffsr6bk3c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-JUwvwuHJ1_Lg5QC3HlHwaJaBbrswSHs</string>
	<key>GCM_SENDER_ID</key>
	<string>760785629906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brainyapps.revtone</string>
	<key>PROJECT_ID</key>
	<string>revtones-9775d</string>
	<key>STORAGE_BUCKET</key>
	<string>revtones-9775d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760785629906:ios:a0da11c0dfc78d26a7730b</string>
	<key>DATABASE_URL</key>
	<string>https://revtones-9775d-default-rtdb.firebaseio.com</string>
</dict>
</plist>